<meta charset="utf-8" />
<title>@ViewBag.title | Jäger</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Tech Challenge 2" name="description" />
<meta content="Jäger" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">